<!doctype html>
<html lang = "en">
	<head>
		<!-- Required meta tags -->
		<meta charset = "utf-8"/>
		<meta name = "viewport" content = "width=device-width, initial-scale=1"/>

		<!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

	    <link href="/static/styles.css" rel="stylesheet"/>

	    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	    


	    <!-- documentation at https://flask-socketio.readthedocs.io/en/latest/ -->
	    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

		<!-- app's own JavaScript -->
	    <script src = "{{ url_for('static', filename='scripts.js') }}"></script>

	    <title>Flack: {% block title %}{% endblock %}</title>
	</head>
	<body>
		<nav>
	<form id = "create_channel">
			<input type = "text" id = "channel" name = "channel" placeholder=" Create a channel" required class = "form-control">		
			<button id = "create_button" type = "submit" class = "btn btn-secondary">Create</button>
	</form>
		</nav>
		<main class = "container p-5">{% block main %}{% endblock %}</main>
	</body>
</html>